rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function estaAutorizado() {
      return request.auth != null &&
        request.auth.token.email in [
          'fernandotonini11@gmail.com',
          'lic.angelesfernandez@gmail.com'
        ];
    }

    match /gastos/{document} {
      allow read, write: if estaAutorizado();
    }

    match /fijos/{document} {
      allow read, write: if estaAutorizado();
    }

    match /config/{document} {
      allow read, write: if estaAutorizado();
    }

    match /gastosPersonales/{document} {
      allow create: if estaAutorizado() &&
        request.resource.data.ownerEmail == request.auth.token.email;
      allow read, delete: if estaAutorizado() &&
        resource.data.ownerEmail == request.auth.token.email;
      allow update: if estaAutorizado() &&
        resource.data.ownerEmail == request.auth.token.email &&
        request.resource.data.ownerEmail == request.auth.token.email;
    }
  }
}
